*{
    text-decoration: none;
}
.tache{
    background-color: burlywood;
    margin: auto;
    padding: 20px;
    width: 700px;
    height: auto;
    position:relative;
    top:60px;
}
.tete{
    height: 30px;
    width: auto;
    background-color: rgb(39, 28, 20);
}
.element{
    grid-template-columns: repeat(2,auto);
    /* grid-template-rows: repeat(auto,auto); */
    grid-gap: 1px;
}
#statut{
    position: relative;
    left: 640px;
    bottom: 34px;
}

.index{
    background-color:rgb(85, 110, 124);
    width: 300px;
    height: 200px;
    margin:auto;
    padding:100px;
    position:relative;
    top:100px;
    color:rgb(77, 30, 30);
    text-align:center;
}
.welcome{
    position:relative;
    bottom:30px;
    padding:20px;
}

.mesTaches{
    position:relative;
    right:100px;
    top:65px;
}

.meDeconnecter{
    position:relative;
    left:100px;
    top:100px;
}

#todo{
    color:rgb(94, 17, 17);
}